<div>
    <h1>
    Rides
    <small *ngIf="selectedDate">{{selectedDate | date:"yy-MM-dd"}}</small>
    <small *ngIf="!selectedDate">unpcoming</small>
    </h1>
    <br/>
    
    <!-- should not be shown, instead upcoming should be used -->
    <table class="table table-striped table-hover " *ngIf="selectedDate">
    <thead>
        <tr>
        <th>#</th>
        <th>uid</th>
        <th>Driver</th>
        <th>Go</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ride of rides | async">
        <td>#</td>
        <td>{{ride?.$key}}</td>
        <td>{{ride?.fkOwnerUserUid}}</td>
        <td><a (click)="goRide(ride.$key)" class="btn btn-info btn-sm">Go</a></td>
        </tr>
    </tbody>
    </table>
    
    <div *ngIf="!selectedDate">
    
    <!-- Omg, this part is compleatly fckd up... -->
    <!-- TODO: pipes and new components desired! -->


        <div>
            <button type="button" class="btn btn-success btn-xs pull-right" (click)="addRide('today')"><i class="fa fa-plus"></i></button>
            <h3>Today</h3>
            <hr/>
            <h3 *ngIf="!getRidesToday() || getRidesToday().length == 0"><small>No rides</small></h3>
            
            
            <div class="row" *ngFor="let ride of getRidesToday()" style="margin:5px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ride[0]}}
                </div>
                <div class="col-xs-4">
                        <i class="fa fa-external-link-square fa-rotate-90"></i>&nbsp;
                        <span *ngIf="ride[2]<10">0</span>{{ride[2]}}:<span *ngIf="ride[3]<10">0</span>{{ride[3]}}
                        &nbsp;&nbsp;
                        <i class="fa fa-external-link-square"></i>&nbsp;
                        <span *ngIf="ride[4]<10">0</span>{{ride[4]}}:<span *ngIf="ride[5]<10">0</span>{{ride[5]}}
                </div>
                <div class="col-xs-3">
                    <a [routerLink]="['/ride', ride[0], ride[1] ]"><i class="fa fa-car"></i>&nbsp;</a>
                </div>
            </div>

        </div>

        <div>
            <button type="button" class="btn btn-success btn-xs pull-right" (click)="addRide('tomorrow')"><i class="fa fa-plus"></i></button>
            <h3>Tomorrow</h3>
            <hr/>
            <h3 *ngIf="!getRidesTomorrow() || getRidesTomorrow().length == 0"><small>No rides</small></h3>
            
            <div class="row" *ngFor="let ride of getRidesTomorrow()" style="margin:5px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ride[0]}}
                </div>
                <div class="col-xs-4">
                        <i class="fa fa-external-link-square fa-rotate-90"></i>&nbsp;
                        <span *ngIf="ride[2]<10">0</span>{{ride[2]}}:<span *ngIf="ride[3]<10">0</span>{{ride[3]}}
                        &nbsp;&nbsp;
                        <i class="fa fa-external-link-square"></i>&nbsp;
                        <span *ngIf="ride[4]<10">0</span>{{ride[4]}}:<span *ngIf="ride[5]<10">0</span>{{ride[5]}}
                </div>
                <div class="col-xs-3">
                    <a [routerLink]="['/ride', ride[0], ride[1] ]"><i class="fa fa-car"></i>&nbsp;</a>
                </div>
            </div>

        </div>

        <div>
            <button type="button" class="btn btn-success btn-xs pull-right" (click)="addRide('upcoming')"><i class="fa fa-plus"></i></button>
            <h3>Upcoming</h3>
            <hr/>
            <h3 *ngIf="!getRidesUpcoming() || getRidesUpcoming().length == 0"><small>No rides</small></h3>
            
            <div class="row" *ngFor="let ride of getRidesUpcoming()" style="margin:5px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                    <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ride[0]}}
                </div>
                <div class="col-xs-4">
                        <i class="fa fa-external-link-square fa-rotate-90"></i>&nbsp;
                        <span *ngIf="ride[2]<10">0</span>{{ride[2]}}:<span *ngIf="ride[3]<10">0</span>{{ride[3]}}
                        &nbsp;&nbsp;
                        <i class="fa fa-external-link-square"></i>&nbsp;
                        <span *ngIf="ride[4]<10">0</span>{{ride[4]}}:<span *ngIf="ride[5]<10">0</span>{{ride[5]}}
                </div>
                <div class="col-xs-3">
                    <a [routerLink]="['/ride', ride[0], ride[1] ]"><i class="fa fa-car"></i>&nbsp;</a>
                </div>
            </div>


        </div>

    </div>
    



</div>
