<div class="well clearfix">

     <!-- *{{passengers | json }}* --> 
    
    <div class="btn-group">
        <button (click)="removeSeat()" type="button" class="btn btn-success btn-xs"><i class="fa fa-minus" aria-hidden="true"></i>
        </button>
        <button (click)="addSeat()" type="button" class="btn btn-success btn-xs"><i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>

    <br/><br/>

    <div style="height:500px;border-style:solid;border-width:0px;">

        <svg version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            id="svg1" height="100%" width="100%" [attr.viewBox]="viewBox(200)" preserveAspectRatio="xMidYMin">
            <g>
            <defs>
            </defs>

            <rect x="2" y="2" rx="3" ry="3" width="96" [attr.height]="yHeigth(196)" class="car-rect"></rect>
            <rect x="4" y="44" rx="3" ry="3" width="92" [attr.height]="yHeigth(110)" fill="white"></rect>

            <!--<g boncar-seat *ngFor="let s of seats; let i = index"
                [attrX]="seatX(i)" [attrY]="seatY(i)" [svgId]="'svg-id-'+i"></g> -->

            <g boncar-seat *ngFor="let p of internalPassengers; let i = index"
                [attrX]="seatX(i)" [attrY]="seatY(i)" [svgId]="'svg-id-'+i" [avatarSrc]="p[2]" [position]="i+1"></g>


            </g>
        </svg>

    </div>
</div>
  